/*-------------Website Theme------------------*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --hue-1: 257;
    --hue-2: 47;
    --bg-color:hsl(var(--hue-1),100%,97%);
    --main-color-1: hsl(var(--hue-1),100%,60%);
    --main-color-dark-1:hsl(var(--hue-1),69%, 50%);
    --main-color-2: hsl(var(--hue-2),100%,61%);
    --main-color-dark-2:hsl(var(--hue-2),82%,55%);
    --bg-color-1:hsl(var(--hue-1),100%,97%);
    --bg-color-2:#fff;
    --bg-color-3:hsl(var(--hue-1),100%,98%);
    --bg-color-transparent: rgba(255,255,255,0.6);
    --heading-color: hsl(var(--hue-1),61%,24%);
    --text-color: hsl(var(--hue-1),17%,63%);
    --section-padding: 7 rem;
   
}
/*-------------General Styles----------------*/

*,
*::before,
*::after{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

body{
    overflow:scroll;
    
    background-color:var(--bg-color);
    font-family: "Poppins",sans-serif;
}

::selection{
    background-color:hsla(var(--hue-1),100%,60%);
    color:#fff;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*----------------Resuable CSS Code--------------*/

.container{
    position:relative;
    width: 100%;
    max-width: 75rem;
    padding: 0.1.5rem;
    margin: 0 auto;
    overflow: scroll;
}

.logo{
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px ;
    font-family: "Abril fatface",cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo span{
    color: var(--main-color-1);
}

.sub-heading{
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left:3px solid var(--main-color-2);
    padding: .13rem .75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading{
    color:var(--heading-color);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    line-height: 1.3;
}

.text{
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
}

.cta .btn{
    margin-right: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--main-color-1);
    color: #fff;
    font-size: .85rem;
    letter-spacing: .4px;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--main-color-dark-1);
}

.btn.secondary-btn{
    position:relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: .15rem 0;
}

.btn.secondary-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom:-2.5px;
    left:0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}
.section{
    position: relative;
    padding: var(--section-padding) 0;
}

/*----------------NAV Bar Styling----------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10%;
    transition: 0.3s;
}

header.scrolled{
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 20px 0.1px rgba(0,0,0,0.1);
    backdrop-filter:blur(15px);
}
nav.container{
   display:flex;
   align-items: center;
    flex-wrap: wrap;
}

.link{
   
    flex:1;
    display:flex;
    justify-content: space-between;
}



header .logo{
    height:120px;
    line-height: 120px;
}

header .scrolled.logo{
    height:80px;
    line-height: 80px;
}

.link ul{
    display:flex;
    align-items:center;
    width: 100%;
}

.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}

.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity:0.2;
    transition: 0.3s;
}

.nav-link:hover{
    color: var(--heading-color);
}

.nav-link:hover::after{
    width: 100%;
    opacity: 0.2;
}

.toggle{
    color:var(--heading-color);
    min-width:40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    border:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
    transition: 0.3s;
    background-color: transparent;
    margin-right: 1rem;
}

.toggle:hover{
    filter:brightness(97%);

}

/*----------------Showcase Area Styling----------------*/

.showcase-area{ 
    padding: 200px 140px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.showcase-area .container{
    display: grid;
    grid-template-columns: 1fr 550px;
    height: calc(100vh-140px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading{
    margin-bottom: 0.7rem;
}

.showcase-area .heading{
    font-size: 3.5rem;
}

.showcase-area .text{
    margin: 0.8rem 0;
}

.cta{
    margin-top: 3.5rem;
    display: flex;
    align-items:center;
}


.btn.secondary-btn:hover::before{
    width:100%;
}

.showcase-image{
    position: relative;
    width:100%;
    min-height: calc(100% + 120px);
    background-color: linear-gradient(
        124deg, var(--main-color-1) 50%, 
        var(--main-color-2) 50%);
    margin-top: -120px;
    
}

.showcase-image .person{
    position: absolute;
    width:95%;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

.dots {
    width: 112px;
}

.showcase-area .circle{
    position: absolute;
    width: 190px;
    left:0;
    top:80%;
    transform: translate(-50%,-50%);
}

.showcase-area .dots {
    position: absolute;
    left: 100%;
    top: 30%;
   transform: translate(-50%, -50%);
}

.square{
    width: 70px;
}

.showcase-area .square{
    position: absolute;
    left: 25%;
    bottom: 80px;
    transform: translate(-50%, -50%);
}

/*----------------About Area Styling----------------*/
.about .container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
}

.about .text{
    margin: 3rem 0 4rem;

}

.st0{
    fill:red;
}

.st1{
    fill:rgb(0, 13, 255);
}

.st2{
    fill:rgb(0, 255, 55);
}
